body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background-image: url(../imagenes/fondo.p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#section{
    display: flex;
    flex-direction: column;
    width: 99%;
}

h1{
    font-size: 200%;
    margin-left: 2%;
}

nav{
    width: 99%;
    margin-top: -2%;
}

ul{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 50px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 100%;   
    color: white;
}

a:hover{
    color: #09c2deb4
}

